<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hello {{ .name }}</title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: system-ui, sans-serif;
        background: #f9f9f9;
      }
      .welcome {
        font-size: 2rem;
        color: #222;
      }
    </style>
  </head>
  <body>
    <div class="welcome">Hello, {{ .name }}!</div>
  </body>
</html>
